.ab-test-for-wp__VariantSelector {
  position: absolute;
  z-index: 900;
  left: calc(100% + 14px);
  top: -15px;
}

.ab-test-for-wp__VariantSelector .components-button-group {
  background: #fff;
  border: 1px solid #e3e5e9;
}

.ab-test-for-wp__VariantSelector .components-button {
  width: 36px;
  justify-content: center;
  border-radius: 0;
}

.ab-test-for-wp__VariantSelector .components-button.is-toggled:not(:disabled):not([aria-disabled="true"]):not(.is-default) {
  border-color: #007abd;
  background-color: #007abd;
  color: #fff;
}
