<footer class="footer">
  <menu class="menu">
    <ul>
      <li>
        <a href="<%- url_for('/') %>">Home</a>
      </li>
      <li>
        <a href="<%- url_for('/blog') %>">Blog</a>
      </li>
    </ul>
  </menu>
  <section class="content">
    <p>
      A/B Testing for WordPress is a plugin by <a href="https://theclevernode.com">CleverNode</a>
    </p>
    <p>
      For questions or support contact: <a href="mailto:info@abtestingforwp.com">info@abtestingforwp.com</a>
    </p>
  </section>
</footer>
