<footer class="footer">
  <section class="content">
    <p>
      A/B Testing for WordPress is a plugin by <a href="https://theclevernode.com">CleverNode</a>
    </p>
    <p>
      For questions or support contact: <a href="mailto:info@abtestingforwp.com">info@abtestingforwp.com</a>
    </p>
  </section>
</footer>
