<header class="header header--small">
  <a href="<%- url_for('/') %>">
    <img width="40" height="40" src="<%- url_for('/images/icon-light.svg') %>" alt="A/B Testing for WordPress logo" />
    <h1>A/B Testing for WordPress</h1>
  </a>
</header>
