@import 'reset';

$screen-md: 760px;
$max-container: 960px;

$ab-light: #f5f5ff;
$ab-blue: #268ec7;
$ab-blue-darker: #268bc3;

body {
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.7em;
  font-size: 18px;
  overflow-x: hidden;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 0.3em;
  font-weight: bold;
}

.download,
.header {
  background: {
    color: $ab-blue;
    position: 50% 50%;
    image: repeating-linear-gradient(
      315deg,
      $ab-blue,
      $ab-blue 8px,
      $ab-blue-darker 8px,
      $ab-blue-darker 13px
    );
  }
  color: $ab-light;

  .container {
    margin: 0 auto;
    max-width: $max-container;
    padding: 3em 5%;
  }

  .container-text {
    max-width: 400px;
  }

  .monitor {
    width: 100%;
    height: auto;
    margin-top: 1em;
  }

  h1 {
    font-size: 2.4em;
    line-height: 1.3em;
    margin: 0.5em 0;
    font-weight: bold;
    max-width: 290px;
  }

  p {
    margin: 1em 0;
  }

  .cta {
    color: $ab-light;
    text-decoration: none;
    font-weight: bold;
    padding: 0.8em 1.8em;
    display: inline-block;
    margin: 1em 0;
    border: 3px solid $ab-light;
    transition: color 0.2s ease, background-color 0.2s ease;
    text-align: center;

    &:hover {
      background: $ab-light;
      color: $ab-blue;
    }
  }
}

.usp {
  margin: 3em 0;

  ul {
    max-width: $max-container;
    margin: 0 auto;
    padding: 0 3%;

    li {
      display: flex;
      align-items: center;
      margin: 3em 0;
      width: 100%;

      &:nth-child(2n) {
        .icon {
          order: 2;
          margin-left: 25px;
          margin-right: 0;
        }
      }
    }
  }

  .icon {
    width: 100px;
    height: 100px;
    margin-right: 25px;

    &.rounded {
      padding: 10px;
      border-radius: 10px;
      width: 80px;
      height: 80px;
    }

    &.green {
      background-color: #199333;
    }

    &.blue {
      background-color: $ab-blue;
    }
  }

  .content {
    width: 100%;
  }
}

.example-1 {
  margin: 4em auto;
  width: 100%;
  max-width: $max-container + 120;

  img {
    width: 100%;
  }

  h2 {
    text-align: center;
    margin-bottom: 2em;
  }
}

.example-2 {
  padding: 3em 0;
  background: darken(#fff, 3);

  .container {
    margin: 0 auto;
    max-width: $max-container;
    padding: 0 3%;
  }

  img {
    display: block;
    width: calc(100% - 2em);
    padding: 10px;
    background: #fff;
  }

  p {
    margin: 1em 0;
  }
}

.download {
  display: flex;
  justify-content: center;
  padding: 1em 2em;
}

footer {
  background: #323232;
  color: #bfbfbf;
  text-align: center;
  padding: 2em 3%;
  font-style: italic;

  a {
    color: #fff;
  }

  p {
    margin: 1em 0;
  }
}

.faq {
  margin: 3em 0;

  .container {
    margin: 0 auto;
    max-width: $max-container;
    padding: 0 3%;
  }

  p {
    margin: 1em 0;
  }
}

@media only screen and (min-width: $screen-md) {
  .header .monitor {
    position: absolute;
    width: 43%;
    left: 55%;
    top: 3em;
    max-width: 600px;
  }

  .usp {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      li, li:nth-child(2n) {
        width: 47%;

        .icon {
          order: 0;
          margin-right: 25px;
          margin-left: 0;
        }
      }
    }
  }

  .example-2 {
    .container {
      display: flex;
      align-items: center;
    }

    .content {
      margin-right: 2em;
      width: 40%;
      flex-shrink: 0;
    }
  }
}
